# Lab Question 6
Scrape the same four tickers (AAPL, MSFT, GOOG, AMZN) again, but this time extract *both* the "Market Cap" and the "Volume" fields.
Your result should again be in a DataFrame, and this time it might look like the following:

| ticker | market_cap | volume |
| ----- | -----: |  ---- |
| AAPL | 2.118T |  72,0009,482 |

If you chose to do the bonus aspect of question 5 and convert market cap to a number, don't worry about it on this question.

### Solution

Most of this code can be taken from Q5, but we need to add logic to find and extract the volume field.

Fortunately, all the overview metrics are formatted very similarly -- we just need to look for a `<td>` with slightly different attributes (what you need to update will depend on how you went about locating the original `td` element).
This is a common lesson in web scraping: data displayed in the same way on the same part of the page can often be scraped in a very similar way.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
tickers = ['AAPL', 'MSFT', 'GOOG', 'AMZN']
rows = []

for ticker in tickers:
    url = 'https://finance.yahoo.com/quote/' + ticker
    filename = ticker + '.txt'
    
    response = requests.get(url)
    bs = BeautifulSoup(response.content, 'html.parser')
    quote_summary = bs.find(name='div', id='quote-summary')
    # Find the market cap number
    market_cap_td = quote_summary.find(name='td', attrs={'data-test':'MARKET_CAP-value'})
    market_cap = market_cap_td.span.string
    # NEW STUFF: Find the volume number
    volume_td = quote_summary.find(name='td', attrs={'data-test': 'TD_VOLUME-value'})
    volume = volume_td.span.string
    # Create a dictionary representing the information about this ticker.
    # Note we need to add the volume here:
    ticker_dict = {'ticker': ticker, 'market_cap': market_cap, 'volume': volume}
    # Add this dictionary to our list of rows.
    rows.append(ticker_dict)

# Create a DataFrame from our rows list
ticker_df = pd.DataFrame(rows)

In [3]:
ticker_df

  ticker market_cap      volume
0   AAPL     2.118T  72,009,482
1   MSFT     1.896T  17,704,303
2   GOOG     1.598T     941,928
3   AMZN     1.644T   3,261,109