In [1]:
import getpass
API_KEY = getpass.getpass()

 ································

In [22]:
URL = 'https://api.twelvedata.com/time_series'

### Constructing parameter string manually

In [23]:
parameter_string = 'symbol=KR&interval=1day&outputsize=12&apikey='

In [24]:
import requests
response = requests.get(URL + parameter_string + API_KEY)

In [25]:
response

In [18]:
response.content

b'{"code":401,"message":"**apikey** parameter is incorrect or not specified. You can get your free API Key instantly following this link: https://twelvedata.com/apikey. If you believe that everything is correct, you can email us at apikey@twelvedata.com","status":"error"}'

### Constructing the parameter string automatically with requests

In [40]:
param_dict = {
    'symbol': 'KR',
    'interval': '1day',
    'ouputsize': '12',
    'apikey': API_KEY
}
response = requests.get(URL, params=param_dict)

In [41]:
response

In [42]:
kroger_info = response.json()

In [43]:
kroger_info.keys()

dict_keys(['meta', 'values', 'status'])

In [44]:
kroger_info['meta']

{'symbol': 'KR',
 'interval': '1day',
 'currency': 'USD',
 'exchange_timezone': 'America/New_York',
 'exchange': 'NYSE',
 'type': 'Common Stock'}

In [45]:
kroger_info['values'][0]

{'datetime': '2021-05-28',
 'open': '36.51000',
 'high': '37.24000',
 'low': '36.45000',
 'close': '36.98000',
 'volume': '11356367'}

In [46]:
len(kroger_info['values'])

30

In [61]:
param_dict = {
    'symbol': 'BTC/USD',
    'interval': '1week',
    'ouputsize': 12,
    'apikey': API_KEY
}
response = requests.get(URL, params=param_dict)

In [62]:
response

In [63]:
btc_info = response.json()

In [64]:
import pandas as pd
btc_df = pd.DataFrame(btc_info['values'])

In [67]:
btc_df

      datetime         open         high          low        close
0   2021-05-24  34715.39844  40736.12109  34460.12109  35097.78125
1   2021-05-17  46454.32812  46517.03906  30388.19922  34663.05859
2   2021-05-10  58352.82031  59500.00000  43905.39844  46393.80078
3   2021-05-03  56565.51953  59461.30078  53992.01172  58214.39844
4   2021-04-26  49078.35938  58444.10156  48813.80859  56600.44922
5   2021-04-19  56137.16016  57489.98828  47059.69141  48961.85156
6   2021-04-12  60150.00000  64776.30859  51838.41016  56185.55078
7   2021-04-05  58242.35156  61282.00000  55496.46875  59976.48047
8   2021-03-29  55794.39062  60154.37109  54961.12891  58192.76172
9   2021-03-22  57440.92969  58389.42969  50472.98828  55756.69141
10  2021-03-15  59149.55859  60573.42969  53364.76172  57385.01172
11  2021-03-08  50871.19141  61827.03906  49327.94141  59176.12109
12  2021-03-01  45202.85938  52557.46875  44978.28125  50984.01172
13  2021-02-22  57461.83984  57468.51953  43073.14844  45106.73047
14  2021-02-15  48621.53906  58333.32031  45748.92188  57420.16016
15  2021-02-08  38817.94141  49699.94922  38050.12109  48599.96875
16  2021-02-01  33064.19922  40913.71875  32315.00000  38850.00000
17  2021-01-25  32239.57031  38495.71094  29301.72070  33094.28125
18  2021-01-18  35906.26172  37800.00000  28905.57031  32224.51953
19  2021-01-11  38193.17969  40053.91016  30467.93945  35838.42969
20  2021-01-04  33013.26172  41884.07031  28259.11914  38194.71875
21  2020-12-28  26293.99023  34735.92969  25926.24023  32942.14844
22  2020-12-21  23454.85938  28382.09961  22030.44922  26270.83008
23  2020-12-14  19166.31055  24286.36914  19006.00000  23479.57031
24  2020-12-07  19391.31055  19419.74023  17604.48047  19180.06055
25  2020-11-30  18202.68945  19885.33008  18202.68945  19359.39062
26  2020-11-23  18449.25000  19481.15039  16221.51953  18181.65039
27  2020-11-16  15948.91992  18964.13086  15868.96973  18425.25000
28  2020-11-09  15483.80957  16470.00000  14814.88965  15949.41016
29  2020-11-02  13765.73047  15957.51953  13210.12988  15481.76953

### Multiple Companies

In [68]:
companies = ['KR', 'AAPL', 'MSFT', 'AMZN']
for company in companies:
    param_dict = {
        'symbol': company,
        'interval': '1week',
        'ouputsize': 12,
        'apikey': API_KEY
    }
    header_dict = {
        'apikey': API_KEY
    }
    response = requests.get(URL, params=param_dict, headers=header_dict)
    df = pd.DataFrame(response.json()['values'])
    print(df.loc[0])

datetime    2021-05-24
open          36.62000
high          37.24000
low           36.17000
close         36.98000
volume        40641047
Name: 0, dtype: object
datetime    2021-05-24
open         126.01000
high         128.32001
low          124.55000
close        124.61000
volume       357243459
Name: 0, dtype: object
datetime    2021-05-24
open         247.78500
high         252.94000
low          247.50999
close        249.67999
volume        99531718
Name: 0, dtype: object
datetime    2021-05-24
open        3215.50000
high        3295.72998
low         3210.49927
close       3223.07007
volume        12888122
Name: 0, dtype: object