# Lab Question 5

Use the Hipo Labs API to get all univerities in the USA (search with parameter "United States").

Answer the following questions:

- Of the universities with a state/provice labeled (which is actually not many), which state has the most? Which the fewest?

- What is the greatest number of web pages that any university has? Note that the web_pages field contains lists, so you will need to find a way to convert these to counts.

Then, drop the `country` column, set the row labels to be the `name` column, and save the data to a file called `universities.csv`.

## Solution

In [1]:
import requests

In [2]:
URL = 'http://universities.hipolabs.com/search'
PARAMS = {'country': 'United States'}

In [3]:
response = requests.get(URL, params=PARAMS)
response

In [4]:
import pandas as pd

df = pd.read_json(response.content)

In [5]:
df

,state-province,web_pages,alpha_two_code,country,name,domains
0,None,[http://www.marywood.edu],US,United States,Marywood University,[marywood.edu]
1,None,[http://www.lindenwood.edu/],US,United States,Lindenwood University,[lindenwood.edu]
2,None,[https://sullivan.edu/],US,United States,Sullivan University,[sullivan.edu]
3,None,[https://www.fscj.edu/],US,United States,Florida State College at Jacksonville,[fscj.edu]
4,None,[https://www.xavier.edu/],US,United States,Xavier University,[xavier.edu]
...,...,...,...,...,...,...
2168,Florida,[https://www.gulfcoast.edu/],US,United States,Gulf Coast State College,[gulfcoast.edu]
2169,California,[https://www.academyart.edu/],US,United States,Academy of Art University,"[academyart.edu, art.edu]"
2170,North Carolina,[https://www.lr.edu/],US,United States,Lenoir-Rhyne University,[lr.edu]
2171,Pennsylvania,[https://pointpark.edu/],US,United States,Point Park University,[pointpark.edu]
2172,Michigan,[https://northwood.edu/],US,United States,Northwood University,[northwood.edu]

Let's figure find counts by state, and then get the states with the most and fewest.

In [6]:
by_state = df.groupby('state-province', as_index=False).count()
by_state

    state-province  web_pages  alpha_two_code  country  name  domains
0               CA          2               2        2     2        2
1       California          1               1        1     1        1
2          Florida          1               1        1     1        1
3               IN          1               1        1     1        1
4               MI          1               1        1     1        1
5         Michigan          1               1        1     1        1
6               ND          1               1        1     1        1
7   North Carolina          1               1        1     1        1
8             Ohio          1               1        1     1        1
9     Pennsylvania         28              28       28    28       28
10              TX          2               2        2     2        2
11      Washington          1               1        1     1        1

We can see from this grouped DataFrame that many states are tied with just 1, but Pennsylvania has the most by a wide margin.

Now on to which university has the most websites.
We need to take the `web_pages` column and count how many values are in it.

In [7]:
df['web_page_counts'] = df['web_pages'].apply(lambda x: len(x))
df

,state-province,web_pages,alpha_two_code,country,name,domains,web_page_counts
0,None,[http://www.marywood.edu],US,United States,Marywood University,[marywood.edu],1
1,None,[http://www.lindenwood.edu/],US,United States,Lindenwood University,[lindenwood.edu],1
2,None,[https://sullivan.edu/],US,United States,Sullivan University,[sullivan.edu],1
3,None,[https://www.fscj.edu/],US,United States,Florida State College at Jacksonville,[fscj.edu],1
4,None,[https://www.xavier.edu/],US,United States,Xavier University,[xavier.edu],1
...,...,...,...,...,...,...,...
2168,Florida,[https://www.gulfcoast.edu/],US,United States,Gulf Coast State College,[gulfcoast.edu],1
2169,California,[https://www.academyart.edu/],US,United States,Academy of Art University,"[academyart.edu, art.edu]",1
2170,North Carolina,[https://www.lr.edu/],US,United States,Lenoir-Rhyne University,[lr.edu],1
2171,Pennsylvania,[https://pointpark.edu/],US,United States,Point Park University,[pointpark.edu],1
2172,Michigan,[https://northwood.edu/],US,United States,Northwood University,[northwood.edu],1

In [8]:
df.sort_values('web_page_counts', ascending=False)

,state-province,web_pages,alpha_two_code,country,name,domains,web_page_counts
1110,None,"[http://www.swmed.edu/, http://www.utsouthwest...",US,United States,University of Texas Southwestern Medical Center,"[swmed.edu, utsouthwestern.edu]",2
248,None,"[http://www.capella.edu/, http://www.capellaun...",US,United States,Capella University,"[capella.edu, capellauniversity.edu]",2
1113,None,"[http://www.uiw.edu/, http://www.uiwtx.edu/]",US,United States,University of the Incarnate Word,"[uiw.edu, uiwtx.edu]",2
1115,None,"[http://www.uop.edu/, http://www.pacific.edu/]",US,United States,University of the Pacific,"[uop.edu, pacific.edu]",2
163,None,"[http://www.augusta.edu/, http://www.gru.edu/]",US,United States,Augusta University,"[augusta.edu, gru.edu]",2
...,...,...,...,...,...,...,...
721,Pennsylvania,[http://www.sl.psu.edu/],US,United States,Pennsylvania State University - Schuylkill Campus,[sl.psu.edu],1
720,Pennsylvania,[http://www.psu.edu/],US,United States,Pennsylvania State University,[psu.edu],1
719,Pennsylvania,[http://www.pct.edu/],US,United States,Pennsylvania College of Technology,[pct.edu],1
718,None,[http://www.pembroke.edu/],US,United States,Pembroke State University,[pembroke.edu],1
2172,Michigan,[https://northwood.edu/],US,United States,Northwood University,[northwood.edu],1

So no univeristy has more than 2 sites, although it looks like quite a few have 2.

And now, time to save the data.

In [9]:
df = df.drop('country', axis=1)
df = df.set_index('name')
df.to_csv('universities.csv')